.progress-image {
  width: auto;
  height: 400px;
  object-fit: cover;
}

.start-button {
  display: block;
}

#background-music {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* .img-container {
} */
